---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>

<style>

   @media only screen and (min-width: 820px) and (max-width: 2000px) {
/* Change Page Size */
body {
  width: 1100px; /* makes body full width */
  margin-left: 200px;   /* centers the content if max-width is limited */
  margin-right: 200px; 	
}

.container, .wrapper, .entry {
  width: 700px; /* or whatever width you want */
  margin-left: 150px;   /* centers the content if max-width is limited */
  margin-right: 200px; 	
}

.date {
 margin-left: 150px;
} 

.site-name {
  margin-top: -15px;
 } 

 .breadcrumbs {
   margin-top: -45px;
 }

	   

} /* End Desktop */	


 @media only screen and (max-width: 768px) {
/* Change Page Size */
body {
  width: 100%;	
  max-width: 400px; /* makes body full width */
  margin-left: 20px;   /* centers the content if max-width is limited */
  margin: 0 auto;		
}

.container, .wrapper, .entry {
  width: 100%;	
  max-width: 400px; /* or whatever width you want */
  margin: 0 auto;	
}

.date {
 margin-left: 20px;
} 

.site-name {
  margin-top: -15px;
 } 

 .breadcrumbs {
   margin-top: -45px;
 }

	   

} /* End Mobile */		

	
 
</style>


